.smallText {
    composes: smallText from '../../../../index.css';
}
.checkboxBlockWrapper {
    margin: 20px 0 10px 0;
}
.linkInPageWrapper {
    composes: linkInPage from '../../../../index.css';
}
.largeText {
    composes: largeText from '../../../../index.css';
}
.statusWrapper {
    height: 40px;
}
.statusWrapper img{
    background-color: #015668;
    height: 100%;
}
.textError {
    composes: textError from '../../../../index.css';
    display: flex;
    flex-direction: column;
}
